.flight-search-bg{
    background-image: url("../../../assets/images/Flight_widgit_Bg.jpg");
    height: 500px;
    margin: 0;
    padding: 0;
}

.flight-search-bg h1{
    font-size: xx-large;
}

.left-components {
    margin: 0;
    padding: 0;
}

.switchButton{
    border: 0; 
    border-radius: 50%;
    background-color:white; 
    color: rgb(82, 128, 177);
}
