<nav class="navbar navbar-expand-lg bg-body-white d-flex justify-content-md-between px-5" style="border-bottom: 1.5px solid blue;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.jpg" alt="Main-Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" aria-current="page" href="#">Holidays</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Forex</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Flights</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Hotels</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Cruise</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Eurail</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Gift Cards</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#">Offers & Other Services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
